{{define "content"}}
<div class="issue-controls">
  <label>
    Project:
    <select name="project" hx-get="/api/filter" hx-include=".issue-controls [name]" hx-swap="none">
      <option value="">All</option>
      <option>MC</option>
      <option>MCPE</option>
      <option>MCL</option>
      <option>REALMS</option>
      <option>WEB</option>
      <option>BDS</option>
    </select>
  </label>
  <label>
    Status:
    <select name="status" hx-get="/api/filter" hx-include=".issue-controls [name]" hx-swap="none">
      <option value="">All</option>
      <option>Open</option>
      <option>Reopened</option>
      <option>Postponed</option>
      <option>In Progress</option>
      <option>Resolved</option>
      <option>Closed</option>
    </select>
  </label>
  <label>
    Confirmation:
    <select name="confirmation" hx-get="/api/filter" hx-include=".issue-controls [name]" hx-swap="none">
      <option value="">All</option>
      <option>Unconfirmed</option>
      <option>Plausible</option>
      <option>Community Consensus</option>
      <option>Confirmed</option>
    </select>
  </label>
  <label>
    Resolution:
    <select name="resolution" hx-get="/api/filter" hx-include=".issue-controls [name]" hx-swap="none">
      <option value="">All</option>
      <option>Awaiting Response</option>
      <option>Cannot Reproduce</option>
      <option>Done</option>
      <option>Duplicate</option>
      <option>Fixed</option>
      <option>Incomplete</option>
      <option>Invalid</option>
      <option>Won't Do</option>
      <option>Won't Fix</option>
      <option>Works As Intended</option>
    </select>
  </label>
  <label>
    Mojang priority:
    <select name="mojang_priority" hx-get="/api/filter" hx-include=".issue-controls [name]" hx-swap="none">
      <option value="">All</option>
      <option>Low</option>
      <option>Normal</option>
      <option>Important</option>
      <option>Very Important</option>
    </select>
  </label>
</div>
<div class="issue-list" id="issue-list" hx-swap-oob="true">
  {{ range .Issues }}
  <a class="issue-card" href="/{{.Key}}">
    <span>{{ .Summary }}</span>
    <div class="issue-card-details">
      <img src="/static/icons/bug.svg" width="16" height="16" alt="">
      <span class="issue-card-key">{{.Key}}</span>
      <span>{{.ReporterName}}</span>
      •
      <time datetime="{{formatTime .CreatedDate}}">{{formatTime .CreatedDate}}</time>
    </div>
  </a>
  {{ end }}
</div>
{{end}}

{{template "base" .}}
