{{define "title"}}[{{.Issue.Key}}] {{.Issue.Summary}}{{end}}

{{define "content"}}
<div class="issue" id="issue" hx-swap-oob="true">
  <div class="issue-top">
    <div class="issue-title">
      <div class="issue-key" data-copy="{{.Issue.Key}}">
        <img src="/static/icons/bug.svg" alt="">
        <span>{{.Issue.Key}}</span>
        {{icon "check"}}
      </div>

      <h1 class="issue-summary">
        {{.Issue.Summary}}
      </h1>
    </div>
    <div class="issue-actions">
      <div class="issue-action {{if .Issue.IsResolved}}issue-resolved{{else}}issue-open{{end}}">
        {{.Issue.Status}}
      </div>
      {{if .Issue.Resolution}}
      <div>
        {{.Issue.Resolution}}
      </div>
      {{end}}
      <div class="issue-action">
        {{icon "thumbsup"}}
        {{.Issue.Votes}}
      </div>
    </div>
  </div>

  <div class="issue-split">
    <main class="issue-body">
      <div class="issue-description">
        <div class="adf">{{renderADF .Issue.Description}}</div>
      </div>
      {{if .Issue.HasEnvironment}}
      <h2>Environment</h2>
      <div class="adf">{{renderADF .Issue.Environment}}</div>
      {{end}}
      {{if .Issue.Links}}
        <h2>Related issues</h2>
        <div>
          {{range .Issue.Links}}
            <div class="issue-link">{{.Type}} <a href="/{{.OtherKey}}">{{.OtherKey}}</a>: {{.OtherSummary}}</div>
          {{end}}
        </div>
      {{end}}
      {{if .Issue.Attachments}}
        <h2>Attachments</h2>
        <div class="attachments">
          {{range .Issue.Attachments}}
            <a class="attachment" href="https://bugs.mojang.com/api/issue-attachment-get?attachmentId={{.Id}}" target="_blank">
              {{if .IsImage}}
                <img src="https://bugs.mojang.com/api/issue-attachment-get?attachmentId={{.Id}}" alt="{{.Filename}}" loading="lazy" />
              {{else}}
                <div class="attachment-nopreview">{{.Filename}}</div>
              {{end}}
            </a>
          {{end}}
        </div>
      {{end}}
      <h2>Comments</h2>
      {{range .Issue.Comments}}
        <div>
          <div>
            {{if .AuthorAvatar}}
            <img class="avatar" src="{{.AuthorAvatar}}">
            {{end}}
            <strong>{{.AuthorName}}</strong>
            <time class="comment-time" datetime="{{formatTime .Date}}">{{formatTime .Date}}</time>
            <!-- <button onclick="navigator.clipboard.writeText(this.dataset.adf)" data-adf='{{.AdfComment | html}}' style="cursor:pointer;margin-left:0.5em;">📋</button> -->
          </div>
          <div class="comment-body adf">{{renderADF .AdfComment}}</div>
        </div>
      {{else}}
        <p>No comments.</p>
      {{end}}
    </main>

    <div class="issue-details">
      <p><label>Reporter:</label>
        {{if .Issue.ReporterAvatar}}
          <img class="avatar" src="{{.Issue.ReporterAvatar}}">
        {{end}}
        {{.Issue.ReporterName}}
      </p>
      <p><label>Assignee:</label>
        {{if .Issue.AssigneeAvatar}}
          <img class="avatar" src="{{.Issue.AssigneeAvatar}}">
        {{end}}
        {{if .Issue.AssigneeName}}
        {{.Issue.AssigneeName}}
        {{else}}
        (Unassigned)
        {{end}}
      </p>
      <p><label>Created:</label> <time datetime="{{formatTime .Issue.CreatedDate}}">{{formatTime .Issue.CreatedDate}}</time></p>
      <p><label>Updated:</label> <time datetime="{{formatTime .Issue.UpdatedDate}}">{{formatTime .Issue.UpdatedDate}}</time></p>
      {{if .Issue.ResolvedDate}}
      <p><label>Resolved:</label> <time datetime="{{formatTime .Issue.ResolvedDate}}">{{formatTime .Issue.ResolvedDate}}</time></p>
      {{end}}
      {{if .Issue.IsProject "MC" "MCPE"}}
      <p><label>ADO:</label> <span data-copy="{{.Issue.ADO}}">{{.Issue.ADO}} {{icon "check"}}</span></p>
      {{end}}
      <p><label>Confirmation Status:</label> {{.Issue.ConfirmationStatus}}</p>
      {{if .Issue.IsProject "MCPE"}}
      <p><label>Platform:</label> {{.Issue.Platform}}</p>
      <p><label>OS Version:</label> {{.Issue.OSVersion}}</p>
      {{end}}
      {{if .Issue.IsProject "REALMS"}}
      <p><label>Realms Platform:</label> {{.Issue.RealmsPlatform}}</p>
      {{end}}
      {{if .Issue.IsProject "MC"}}
      <p><label>Area:</label> {{.Issue.Area}}</p>
      {{end}}
      {{if .Issue.IsProject "WEB"}}
      <p><label>Components:</label> {{join .Issue.Components}}</p>
      {{end}}
      {{if .Issue.IsProject "MC"}}
      <p><label>Mojang Priority:</label> {{.Issue.MojangPriority}}</p>
      <p><label>Category:</label> {{join .Issue.Category}}</p>
      {{end}}
      <p><label>Labels:</label> {{join .Issue.Labels}}</p>
      {{if .Issue.IsProject "MC" "MCPE"}}
      <p><label>Affects Versions:</label> {{.Issue.ShortAffectedVersions}}</p>
      <p><label>Fix Versions:</label> {{join .Issue.FixVersions}}</p>
      {{end}}
      <p class="sync-note" {{if and (not .Issue.IsUpToDate) (not .IsRefresh)}}hx-get="/api/refresh/{{.Issue.Key}}" hx-trigger="load delay:1s" hx-swap="none"{{end}}>
        {{if .Issue.IsUpToDate}}{{icon "check"}}{{else}}{{icon "sync"}}{{end}}
        Retrieved <time datetime="{{formatTime .Issue.SyncedDate}}">{{formatTime .Issue.SyncedDate}}</time>
      </p>
    </div>
  </div>
</div>
{{end}}

{{template "base" .}}
