{{define "meta"}}
<meta name="title" content="{{.UserName}}" />
<meta property="og:title" content="{{.UserName}}" />
<meta property="twitter:title" content="{{.UserName}}">
{{if .Issue.FirstImage}}
  <meta property="og:image" content="{{.ReporterAvatar}}" />
  <meta property="twitter:image" content="{{.ReporterAvatar}}">
{{end}}
<meta property="og:type" content="website" />
<meta property="twitter:domain" content="mojira.dev">
<meta property="og:url" content="https://mojira.dev/user/{{urlPathEscape .UserName}}">
<meta property="twitter:url" content="https://mojira.dev/user/{{urlPathEscape .UserName}}">
{{end}}

{{define "title"}}{{.UserName}}{{end}}

{{define "content"}}
<div class="user">
  <h1>
    {{range .UserAvatars}}
      <img class="avatar" src="{{.}}" alt="" width="24" height="24">
    {{end}}
    <span>{{.UserName}}</span>
  </h1>

  {{if .MultipleAvatars}}
  <div class="adf user-warning">
    <div class='panel panel-warning'>
      <img src='/static/icons/warning.svg' alt=''>
      <div>
        More than one avatar was detected! There might be multiple accounts sharing this same name.
      </div>
    </div>
  </div>
  {{end}}

  <div class="user-split">
    <div>
      <h2>Assigned</h2>
      {{if .AssignedIssues}}
      <a class="user-section-link" href="/?assignee={{urlPathEscape .UserName}}">View all</a>
      {{end}}
      <div>
        {{range .AssignedIssues}}
          {{template "issueLink" .}}
        {{else}}
          <span class="no-results">No issues.</span>
        {{end}}
      </div>
      <h2>Reported</h2>
      {{if .ReportedIssues}}
      <a class="user-section-link" href="/?reporter={{urlPathEscape .UserName}}">View all</a>
      {{end}}
      <div>
        {{range .ReportedIssues}}
          {{template "issueLink" .}}
        {{else}}
          <span class="no-results">No issues.</span>
        {{end}}
      </div>
    </div>
    <div>
      <h2>Comments</h2>
      <div class="user-comments">
        {{range .Comments}}
          {{template "userComment" .}}
        {{else}}
          <p class="no-results">No comments.</p>
        {{end}}
        {{if .MoreComments}}
          <div class="expand-comments" hx-get="/api/user/{{urlPathEscape .UserName}}/comments?offset={{.NextComments}}" hx-swap="outerHTML">
            <span>Load more comments</span>
          </div>
        {{end}}
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "issueLink"}}
  <a class="issue-link {{if .IsResolved}}issue-resolved{{end}}" href="/{{.Key}}">
    <img src="/static/icons/bug.svg" width="16" height="16" alt="">
    <span class="issue-link-key">{{.Key}}</span>
    <span class="issue-link-summary" title="{{.Summary}}">{{.Summary}}</span>
    <span class="status-badge">
      {{if .Resolution}}{{.Resolution}}{{else}}{{.ConfirmationStatus}}{{end}}
    </span>
  </a>
{{end}}

{{template "base" .}}
