{{define "title"}}[{{.Issue.Key}}] {{.Issue.Summary}}{{end}}

{{define "content"}}
<div class="issue">
  <div class="issue-key" onclick="navigator.clipboard.writeText('{{.Issue.Key}}')">
    <img src="/static/bug.svg" alt="">
    <span>{{.Issue.Key}}</span>
  </div>

  <h1 class="issue-summary">
    {{.Issue.Summary}}
  </h1>

  <div class="issue-split">
    <main class="issue-body">
      <div class="issue-description">
        <div class="adf">{{RenderADF .Issue.Description}}</div>
      </div>
      {{if .Issue.Environment}}
      <h2>Environment</h2>
      <div class="adf">{{RenderADF .Issue.Environment}}</div>
      {{end}}
      {{if .Issue.Links}}
        <h2>Related issues</h2>
        <div>
          {{range .Issue.Links}}
            <div class="issue-link">{{.Type}} <a href="/{{.OtherKey}}">{{.OtherKey}}</a>: {{.OtherSummary}}</div>
          {{end}}
        </div>
      {{end}}
      {{if .Issue.Attachments}}
        <h2>Attachments</h2>
        <div class="attachments">
          {{range .Issue.Attachments}}
            <a class="attachment" href="https://bugs.mojang.com/api/issue-attachment-get?attachmentId={{.Id}}" target="_blank">
              {{if .IsImage}}
                <img src="https://bugs.mojang.com/api/issue-attachment-get?attachmentId={{.Id}}" alt="{{.Filename}}" loading="lazy" />
              {{else}}
                <div class="attachment-nopreview">{{.Filename}}</div>
              {{end}}
            </a>
          {{end}}
        </div>
      {{end}}
      <h2>Comments</h2>
      {{range .Issue.Comments}}
        <div>
          <div>
            {{if .AuthorAvatar}}
            <img class="avatar" src="{{.AuthorAvatar}}">
            {{end}}
            <strong>{{.AuthorName}}</strong>
            <time class="comment-time" datetime="{{FormatTime .Date}}">{{FormatTime .Date}}</time>
            <!-- <button onclick="navigator.clipboard.writeText(this.dataset.adf)" data-adf='{{.AdfComment | html}}' style="cursor:pointer;margin-left:0.5em;">📋</button> -->
          </div>
          <div class="comment-body adf">{{RenderADF .AdfComment}}</div>
        </div>
      {{else}}
        <p>No comments.</p>
      {{end}}
    </main>

    <div class="issue-details">
      <div class="issue-status">
        <div class="issue-status-button {{if .Issue.IsResolved}}issue-resolved{{end}}">
          {{.Issue.Status}}
        </div>
        {{.Issue.Resolution}}
      </div>
      <p><strong>Reporter:</strong>
        {{if .Issue.ReporterAvatar}}
          <img class="avatar" src="{{.Issue.ReporterAvatar}}">
        {{end}}
        {{.Issue.ReporterName}}
      </p>
      <p><strong>Assignee:</strong>
        {{if .Issue.AssigneeAvatar}}
          <img class="avatar" src="{{.Issue.AssigneeAvatar}}">
        {{end}}
        {{if .Issue.AssigneeName}}
        {{.Issue.AssigneeName}}
        {{else}}
        (Unassigned)
        {{end}}
      </p>
      <p><strong>Created:</strong> <time datetime="{{FormatTime .Issue.CreatedDate}}">{{FormatTime .Issue.CreatedDate}}</time></p>
      <p><strong>Updated:</strong> <time datetime="{{FormatTime .Issue.UpdatedDate}}">{{FormatTime .Issue.UpdatedDate}}</time></p>
      {{if .Issue.ResolvedDate}}
      <p><strong>Resolved:</strong> <time datetime="{{FormatTime .Issue.ResolvedDate}}">{{FormatTime .Issue.ResolvedDate}}</time></p>
      {{end}}
      <p><strong>ADO:</strong> {{.Issue.ADO}}</p>
      <p><strong>Votes:</strong> {{.Issue.Votes}}</p>
      <p><strong>Confirmation Status:</strong> {{.Issue.ConfirmationStatus}}</p>
      <p><strong>Labels:</strong> {{.Issue.Labels}}</p>
      <p><strong>Platform:</strong> {{.Issue.Platform}}</p>
      <p><strong>OS Version:</strong> {{.Issue.OSVersion}}</p>
      <p><strong>Realms Platform:</strong> {{.Issue.RealmsPlatform}}</p>
      <p><strong>Area:</strong> {{.Issue.Area}}</p>
      <p><strong>Components:</strong> {{.Issue.Components}}</p>
      <p><strong>Category:</strong> {{.Issue.Category}}</p>
      <p><strong>Mojang Priority:</strong> {{.Issue.MojangPriority}}</p>
      <p><strong>Affects Versions:</strong> {{.Issue.AffectedVersions}}</p>
      <p><strong>Fix Versions:</strong> {{.Issue.FixVersions}}</p>
    </div>
  </div>
</div>
{{end}}

{{template "base" .}}
