{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/favicon.png" type="image/png">
  <title>{{block "title" .}}mojira.dev{{end}}</title>
  <link rel="stylesheet" href="/static/reset.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <a class="header-main" href="/">mojira.dev</a>
    <div class="search">
      <input id="search-input" type="text" placeholder="Search...">
      <div id="search-results"></div>
    </div>
  </header>

  <div class="content">
    {{block "content" .}}{{end}}
  </div>

  <footer>
    <p>Not an official Minecraft website. Not approved by or associated with Mojang or Microsoft.</p>
  </footer>

  <script src="/static/main.js"></script>
</body>
</html>
{{end}}
